<div class="govuk-notification-banner" role="region">
  <h2 class="govuk-notification-banner__title" id="notification-banner-title">
    Because of coronavirus (COVID-19), it currently takes longer to renew or replace a passport online
  </h2>
  <div class="govuk-notification-banner__body">
    <p>
      It may take even longer for a first adult passport.
    </p>
    <p>
      You may be able to <a href="#">get a passport urgently</a> to travel for compassionate reasons or work, or to prove your identity.
    </p>
  </div>
</div>