<div class="notification-banner-colour">
        <div class="govuk-notification-banner" aria-labelledby="notification-banner-title" role="region">
          <h2 class="govuk-notification-banner__title" id="notification-banner-title">Important</h2>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-heading-m">
              Because of coronavirus (COVID-19), it currently takes longer to renew or replace a passport online
            </h3>
            <p>
              It may take even longer for a first adult passport.
            </p>
            <p>
              You may be able to <a href="#">get a passport urgently</a> to travel for compassionate reasons or work, or to prove your identity.
            </p>
          </div>
        </div>
      </div>