.links-1 {

  a {
    // chose this non-pallette colour cos i think it needs to have 3:1 contrast
    text-decoration-color: #939497;
  }

  // a:hover {
  //   text-decoration-color: inherit;
  // }

}

.links-2 {

  a {
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }

  // a:hover:not(:focus) {
  //   color: $govuk-link-colour;
  //   text-decoration-thickness: 3px;
  // }

}

.links-3 {

  a {
    border-bottom: 1px solid $govuk-link-colour;
    text-decoration: none;
  }

  // a:hover:not(:focus) {
  //   color: $govuk-link-colour;
  //   border-bottom: 3px solid $govuk-link-colour;
  // }

  a:focus {
    border-bottom: none;
  }

}

.links-4 {

  a {
    background-size: 1px 1em;
    box-shadow: inset 0 -2px #fff, inset 0 -3px $govuk-link-colour;
    text-decoration: none;
    text-shadow: -1px -1px #fff, -1px 1px #fff, 1px -1px #fff, 1px 1px #fff;  
  }

  // a:hover {
  //   box-shadow: inset 0 0px #fff, inset 0 -3px$govuk-link-colour;
  //   color: $govuk-link-colour;
  //   text-shadow: -1px -1px #fff, -1px 1px #fff, 1px -1px #fff, 1px 1px #fff;
  // }

  a:focus {
    background-image: none;
    text-shadow: none;
  }
  
}

// Background image + linear gradient + text shadow
.links-5 {

  a {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2.5px,$govuk-link-colour 2.5px,$govuk-link-colour 3.5px, rgba(0, 0, 0, 0) 2px);
    position: relative;
    text-decoration: none;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }

  // a:hover:not(:focus) {
  //   background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) -3px,$govuk-link-colour -2px,$govuk-link-colour 3px, rgba(0, 0, 0, 0) 2px);
  //   color: $govuk-link-colour;
  //   text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff, 0 2px 0 #fff;
  // }

  a:focus:not {
    background-image: none;
    text-shadow: none;
  }

}
