.accordion-changes  {

  .govuk-accordion__section-header,
  .govuk-accordion__section-content {
    padding-left: 15px;
  }

  .govuk-accordion__section-button {
    font-size: 19px;
    line-height: 1.4;
  }

}

.js-enabled {

  .govuk-accordion__controls {
    text-align: left;

    button {
      padding: .5em 0;
      text-decoration: underline;
    }

    button:focus {
      text-decoration: none;
    }
  }

  .accordion-changes {

    .govuk-accordion__section-header{
      border-width: 1px 1px 0 1px;
      border-color: #b1b4b6;
      border-style: solid;
      color: #0b0c0c;
    }


    .govuk-accordion__section:hover:not(:focus) {
      background-color: #f3f2f1;

      // .govuk-accordion__section-header {
      //   color: $govuk-link-colour;
      // }

      // .govuk-accordion__icon:after,
      // .govuk-accordion__icon:before {
      //   background-color: $govuk-link-colour;
      // }

      // .govuk-accordion__icon {
      //   border: 1px solid $govuk-link-colour;
      // }

    }

    .govuk-accordion__section-button:hover:not(:focus) {
      text-decoration: none;
    }

    .govuk-accordion__icon {
      position: relative;
      display: block;
      border: 1px solid $govuk-text-colour;
      border-radius: 50%;
      margin-top:8px;
      right: auto;
      top: auto;
    }

    .govuk-accordion__icon:after,
    .govuk-accordion__icon:before {
      background-color: $govuk-text-colour;
      border: 1px solid transparent;
      width: 5%;
      height: 50%;
    }

    .govuk-accordion__icon:before{
      width: 50%;
      height: 5%;
    }

    .govuk-accordion__section--expanded .govuk-accordion__section-header, 
    .govuk-accordion__section--expanded .govuk-accordion__section-content {
      border-left: 4px solid #0b0c0c;
      border-right: 1px solid #b1b4b6;
      padding-left: 12px;
    }

  }

}
