{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <ol class="app-task-list app-task-list-3">
        <li>
          <h2 class="app-task-list__section">
            Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-completed">
                  Check eligibility
                </a>
              </span>
              <span class="govuk-tag app-task-list__tag badge-completed">Completed</span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-completed">
                  Read declaration
                </a>
              </span>
              <span class="govuk-tag app-task-list__tag badge-completed">Completed</span>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Prepare application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-completed">
                  Company information
                </a>
              </span>
              <span class="govuk-tag app-task-list__tag badge-completed">Completed</span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-completed">
                  Your contact details
                </a>
              </span>
              <span class="govuk-tag app-task-list__tag badge-in-progress">In progress</span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  List convictions
                </a>
              </span>
              <span class="govuk-tag app-task-list__tag badge-in-progress">In progress</span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Provide financial evidence
                </a>
              </span>
              <span class="govuk-tag app-task-list__tag badge-not-yet-started">Not yet started</span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Give medical information
                </a>
              </span>
              <span class="govuk-tag app-task-list__tag badge-completed">Completed</span>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Submit and pay
                </a>
              </span>
              <span class="govuk-tag app-task-list__tag badge-not-yet-started">Not yet started</span>
            </li>
          </ul>
        </li>
      </ol>

      <ul class="govuk-list govuk-list--bullet">
        <li>Look a bit less like buttons? If what people say about ghost buttons is true then people shouldn't click these</li>
        <li>There's a much smaller range of distinct colours you can use compared to the existing tinted tags – that orange doesn't pass AA contrast for example</li>
      </ul>

    </div>
  </div>

{% endblock %}
