{% extends "layout.html" %}

{% block pageTitle %}
  Accordion component – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Guidance</span>
      <h2 class="govuk-heading-xl">Who can get a Blue Badge?</h2>

      <p>
        Blue Badges help people with disabilities or health conditions park closer to their destination. You can apply for a badge for yourself, on behalf of somebody else or an organisation that transports people that need a Blue Badge.
      </p>

      <p>
        In <a href="#">England, Scotland and Wales you can apply on GOV.UK</a> for a Blue Badge.
      </p>

      <p>
        There’s a different way to <a href="#">apply if you’re in Northern Ireland</a>.
      </p>

      <div class="govuk-accordion accordion-changes govuk-!-margin-top-7" data-module="govuk-accordion" id="accordion-default">

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                People who automatically get a Blue Badge
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p>
              You automatically qualify for a Blue Badge if you are over 2 years old and at least one of the following applies:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>you receive the higher rate of the mobility component of the <a href="#">Disability Living Allowance (DLA)</a></li>
              <li>you receive a <a href="#">Personal Independence Payment (PIP)</a> because you can’t walk more than 50 metres (a score of 8 points or more under the ‘moving around’ activity of the mobility component)</li>
              <li>you are registered blind (severely sight impaired)</li>
              <li>you receive a War Pensioner’s Mobility Supplement</li>
              <li>you have received a lump sum benefit within tariff levels 1-8 of the Armed Forces and Reserve Forces (Compensation) Scheme and have been certified as having a permanent and substantial disability which causes inability to walk or very considerable difficulty in walking</li>
              <li>you receive the mobility component of PIP and have obtained 10 points specifically for descriptor E under the ‘planning and following journeys’ activity, on the grounds that you are unable to undertake any journey because it would cause you overwhelming psychological distress</li>
            </ul>
            <div class="govuk-inset-text">
              If you have any score other than 10 points under descriptor E, in the ‘planning and following journeys’ activity of PIP you may still be eligible for a Blue Badge, but you do not automatically qualify. This includes if you have a higher score of 12. You will have to provide evidence to demonstrate your eligibility which will be assessed as part of your application.
            </div>
            <h3 class="govuk-heading-s">
              Scotland
            </h3>
            <p>In Scotland you are also automatically eligible if at least one of the following applies:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>you scored 12 points in the ‘planning and following journeys’ part of your mobility assessment for PIP</li>
              <li>you previously received the higher rate of the mobility component for DLA indefinitely</li>
              <li>you have had a mandatory reconsideration for PIP accepted by the Department for Work and Pensions (DWP) - you are eligible for a 1 year badge</li>
            </ul>
            <h3 class="govuk-heading-s">
              Wales
            </h3>
            <p>In Wales you are also automatically eligible if at least one of the following applies:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>you scored 12 points in the ‘planning and following journeys’ part of your mobility assessment for PIP</li>
              <li>you receive tariff level 6 of the Armed Forces Compensation Scheme for a permanent mental disorder</li>
            </ul>
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                People who may get a Blue Badge
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>This is the content for Writing well for specialists.</p>
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                What you need to apply for a Blue Badge
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>This is the content for Know your audience.</p>
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Providing proof of benefits
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>This is the content for How people read.</p>
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Proof of eligibility
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>This is the content for How people read.</p>
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                How you can provide documents
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>This is the content for How people read.</p>
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Blue Badges for organisations
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>This is the content for How people read.</p>
          </div>
        </div>

      </div>

      <h2 class="govuk-heading-l">
        Related guidance
      </h2>

      <p>
        The way a Blue Badge can be used differs in England, Scotland and Wales:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Blue Badge rules for England</a></li>
        <li><a href="#">Blue Badge rules for Northern Ireland</a></li>
        <li><a href="#">Blue Badge rules for Scotland</a></li>
        <li><a href="#">Blue Badge rules for Wales</a></li>
      </ul>
    
    </div>
  </div>


{% endblock %}
