
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# <h1 class="govuk-heading-l">
        Example content for testing link styles
      </h1> #}

      <p>
        It’s simpler to set up as a sole trader, but you’re personally responsible for your business’s debts. You also have some accounting responsibilities.
      </p>

      <p>
        Find out more about <a href="#">being a sole trader and how to register</a>.
      </p>

      <h2 class="govuk-heading-s">
        Limited companies
      </h2>

      <p>
        If you form a limited company, its finances are separate from your personal finances, but there are more <a href="#">reporting and management responsibilities</a>.
      </p>

      <p>
        Some people get help from a professional, for example an accountant, but you can <a href="#">set up a company</a> yourself.
      </p>

      <h2 class="govuk-heading-s">
        Partnerships
      </h2>

      <p>
        A partnership is the simplest way for 2 or more people to run a business together.
      </p>

    </div>
</div>

{% endblock %}
