
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Design System stuff
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">
        Accordion
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="accordion-1">Accordion</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Focus states on input errors
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="error-focus-1">2px error outline with 4px focus highlight</a></li>
        <li><a href="error-focus-2">4px error outline with 2px focus highlight</a></li>
        <li><a href="error-focus-3">4px error outline with 6px focus highlight</a></li>
        <li><a href="error-focus-4">4px error outline with 6px focus highlight in red</a></li>
        <li><a href="error-focus-5">6px error outline with 4px focus highlight</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Hint text contrast
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="hint-text-greys">Making the grey darker</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Hint text for longer content
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="long-hint-text/govuk-cookies-page-1">GOV.UK cookies page – example 1</a></li>
        <li><a href="long-hint-text/govuk-cookies-page-2">GOV.UK cookies page – example 2</a></li>
        <li><a href="question-page-long-hint-text">Question page - bathing question</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Hover states
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="hover-states-1">Adding/removing underlines</a></li>
        <li><a href="hover-states-2">Grey highlight</a></li>
        <li><a href="hover-states-3">Thick underlines</a></li>
        <li><a href="hover-states-4">Lowered underlines</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Links
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="links-1">Different link underline CSS methods</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Notification banner
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="notification-banner">Notification banner examples</a></li>
        <li><a href="notification-banner-content">Notification banner examples with content prefixes</a></li>
        <li><a href="notification-banner-multiple-1">Multiple banners of different kinds</a></li>
        <li><a href="notification-banner/passport/">Example service – apply for a passport</a></li>
        <li><a href="notification-banner-colour-heading">Notification banner with coloured label at top</a></li>
      </ul>

      <h2 class="govuk-heading-m" id="task-list">
        Task list
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="task-list/1-minimum-viable-tag">Minimum viable tag</a></li>
        <li><a href="task-list/2-circles">Coloured circles</a></li>
        <li><a href="task-list/3-less-buttony-tag">Less button-y tags</a></li>
      </ul>
      

      


    </div>
</div>

{% endblock %}
