
{% extends "layout.html" %}

{% block pageTitle %}
  Links – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds"> 
      <div class="links-0">
        <p>
          You can’t keep a pet pig at your home until you <a href="#?" class="govuk-link govuk-link--no-visited-state">get a county parish holding (CPH) number</a> from the Rural Payments Agency (RPA). You must also tell the <a href="#?" class="govuk-link govuk-link--no-visited-state">Animal and Plant Health Agency (APHA)</a> that you’re keeping pigs, within 30 days of your first pet pig arriving on your land.
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <pre>text-decoration: underline</pre>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds"> 
      <div class="links-1">
        <p>
          You can’t keep a pet pig at your home until you <a href="#?" class="govuk-link govuk-link--no-visited-state">get a county parish holding (CPH) number</a> from the Rural Payments Agency (RPA). You must also tell the <a href="#?" class="govuk-link govuk-link--no-visited-state">Animal and Plant Health Agency (APHA)</a> that you’re keeping pigs, within 30 days of your first pet pig arriving on your land.
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <pre>border-bottom: 1px solid $govuk-link-colour<br>text-decoration: none</pre>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds"> 
      <div class="links-2">
        <p>
          You can’t keep a pet pig at your home until you <a href="#?" class="govuk-link govuk-link--no-visited-state">get a county parish holding (CPH) number</a> from the Rural Payments Agency (RPA). You must also tell the <a href="#?" class="govuk-link govuk-link--no-visited-state">Animal and Plant Health Agency (APHA)</a> that you’re keeping pigs, within 30 days of your first pet pig arriving on your land.
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <pre>text-decoration-thickness: 1px<br>text-underline-offset: 2px</pre>
      <p class="govuk-body-s"><a href="https://caniuse.com/?search=text-decoration-thickness">Not widely supported</a></p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds"> 
      <div class="links-3">
        <p>
          You can’t keep a pet pig at your home until you <a href="#?" class="govuk-link govuk-link--no-visited-state">get a county parish holding (CPH) number</a> from the Rural Payments Agency (RPA). You must also tell the <a href="#?" class="govuk-link govuk-link--no-visited-state">Animal and Plant Health Agency (APHA)</a> that you’re keeping pigs, within 30 days of your first pet pig arriving on your land.
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <pre>background-size: 1px 1em;<br>box-shadow: inset 0 -2px white, inset 0 -3px $govuk-link-colour;<br>text-decoration: none;<br>text-shadow: -1px -1px white, -1px 1px white, 1px -1px white, 1px 1px white;</pre>
    </div>
  </div>

{% endblock %}
