
{% extends "layout.html" %}

{% block pageTitle %}
  Notification banner – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <span class="govuk-caption-l">Notification banner</span>
  <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
    Example banners with content prefixes
  </h1>

  <p>Standard banner:</p>

  <div class="govuk-notification-banner" aria-labelledby="notification-banner-title" role="region">
    <div class="govuk-notification-banner__title">
      <!--Use this h2 to make notification messaging consistent throughout your service-->
      <h2 class="govuk-notification-banner__title govuk-notification-banner__prefix govuk-notification-banner__inline" id="notification-banner-title">
        Notification:</h2>
      <p class="govuk-notification-banner__title govuk-notification-banner__inline">you have 9 days to send a response. <a class="govuk-link" href="#respond-to-application">Respond to application</a>.</p>
    </div>
  </div>

  <p>Standard banner with additional text:</p>

  <div class="govuk-notification-banner" aria-labelledby="notification-banner-title" role="region">
    <div class="govuk-notification-banner__title">
      <!--Use this h2 to make notification messaging consistent throughout your service-->
      <h2 class="govuk-notification-banner__title govuk-notification-banner__prefix govuk-notification-banner__inline" id="notification-banner-title">
        Notification:</h2>
      <p class="govuk-notification-banner__title govuk-notification-banner__inline">this publication was withdrawn on 7 March 2014</p>
    </div>
    <div class="govuk-notification-banner__body">
      <p>
        Archived and replaced by the <a class="govuk-link" href="#">new planning practice guidance</a> launched 6 March 2014 on an external website.
      </p>
    </div>
  </div>

  <p>Success banner</p>

  <div class="govuk-notification-banner govuk-notification-banner--success" aria-labelledby="notification-banner-title" role="alert" tabindex="-1" data-module="initial-focus">
    <div class="govuk-notification-banner__title">
      <!--Use this h2 to make notification messaging consistent throughout your service-->
      <h2 class="govuk-notification-banner__title govuk-notification-banner__prefix govuk-notification-banner__inline" id="notification-banner-title">
        Success:</h2>
      <p class="govuk-notification-banner__title govuk-notification-banner__inline">invite sent to example@email.com</p>
    </div>
  </div>

  <p>Error banner:</p>

  <div class="govuk-notification-banner govuk-notification-banner--error" aria-labelledby="notification-banner-title" role="alert" tabindex="-1" data-module="initial-focus">
    <div class="govuk-notification-banner__title">
      <!--Use this h2 to make notification messaging consistent throughout your service-->
      <h2 class="govuk-notification-banner__title govuk-notification-banner__prefix govuk-notification-banner__inline" id="notification-banner-title">
        Error:</h2>
      <p class="govuk-notification-banner__title govuk-notification-banner__inline">the verification code you entered is incorrect or has expired. Try again or <a href="#">resend the message</a>.</p>
    </div>
  </div>



  <p>Multiple banners: N.B. still work in progress</p>

  <div class="govuk-notification-banner" aria-labelledby="notification-banner-title" role="region">
   <h2 class="govuk-notification-banner__title" id="notification-banner-title">
     <!--Use this span to make notification messaging consistent throughout your service--><span class="govuk-notification-banner__prefix">Notification:</span>
     you have 9 days to send a response. <a class="govuk-link" href="#respond-to-application">Respond to application</a>.
   </h2>
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   <h2 class="govuk-notification-banner__title" id="notification-banner-title">
     <!--Use this span to make notification messaging consistent throughout your service--><span class="govuk-notification-banner__prefix">Notification:</span>
     because of coronavirus (COVID-19), it’s taking longer than usual to issue passports
   </h2>
 </div>
 <div class="govuk-notification-banner" aria-labelledby="notification-banner-title" role="region">
   <!--Use this span to make notification messaging consistent throughout your service--><span class="govuk-notification-banner__prefix govuk-notification-banner__title">Notifications:</span>
  <h2 class="govuk-notification-banner__title" id="notification-banner-title">
    You have 9 days to send a response. <a class="govuk-link" href="#respond-to-application">Respond to application</a>.
  </h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <h2 class="govuk-notification-banner__title" id="notification-banner-title">
    Because of coronavirus (COVID-19), it’s taking longer than usual to issue passports
  </h2>
</div>

{% endblock %}
